extends ../../layout
block script
  -
    if (user && typeof user === 'object' && user.accessToken) {
      json = {
        type: true,
        nurseId: user.nurse.id,
        wardName: user.nurse.nurseStation.ward.name,
        accessToken: user.accessToken
      };
    } else {
      json = { type: false };
    }