extends ../../layout
block script
  -
    json = {
      data: { patients: [] }
    };

    if (patients.length > 0) {
      var data = json.data.patients;
      var patient;

      for (var i = 0, n = patients.length; i < n; i ++) {
        patient = patients[i].toJSON();
        delete patient.primaryNurse.user.passwordHash;
        data.push(patient);
      }
    }